################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/RbPharma.Solution/FileContentIndex
/src/.vs/RbPharma.Solution/v17/.suo
/src/RbPharma.Domain/obj/Debug/net6.0/RbPharma.Domain.assets.cache
/src/RbPharma.Domain/obj/Debug/net6.0/RbPharma.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/RbPharma.Tests/obj/Debug/net6.0
/src/RbPharma.Tests/obj
/src/RbPharma.Services/obj/RbPharma.Services.csproj.nuget.g.targets
/src/RbPharma.Infrastructure/obj/Debug/net6.0/RbPharma.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/src/RbPharma.Infrastructure/obj/Debug/net6.0/RbPharma.Infrastructure.assets.cache
/src/RbPharma.Domain/obj
/src/RbPharma.Services/obj/Debug/net6.0/RbPharma.Services.GeneratedMSBuildEditorConfig.editorconfig
/src/RbPharma.Services/obj/Debug/net6.0/RbPharma.Services.assets.cache
/src/RbPharma.Infrastructure/obj
/src/RbPharma.IoC/bin/Debug/net6.0/RbPharma.IoC.pdb
/src/RbPharma.IoC/bin/Debug/net6.0/RbPharma.IoC.dll
/src/RbPharma.Services/obj
/src/RbPharma.IoC/obj/RbPharma.IoC.csproj.nuget.g.targets
/src/RbPharma.IoC/obj/Debug/net6.0
/src/RbPharma.IoC/obj
/src/RbPharma.Domain/bin/Debug/net6.0/RbPharma.Domain.pdb
/src/RbPharma.Domain/bin/Debug/net6.0/RbPharma.Domain.dll
/src/RbPharma.Domain/obj/Debug/net6.0/ref/RbPharma.Domain.dll
/src/RbPharma.Domain/obj/Debug/net6.0/refint/RbPharma.Domain.dll
/src/RbPharma.IoC/bin/Debug/net6.0/RbPharma.Services.pdb
/src/RbPharma.IoC/bin/Debug/net6.0/RbPharma.Services.dll
/src/RbPharma.IoC/bin/Debug/net6.0/RbPharma.IoC.deps.json
/src/RbPharma.IoC/bin/Debug/net6.0/RbPharma.Infrastructure.pdb
/src/RbPharma.IoC/bin/Debug/net6.0/RbPharma.Infrastructure.dll
/src/RbPharma.Infrastructure/bin/Debug/net6.0/RbPharma.Infrastructure.pdb
/src/RbPharma.Infrastructure/bin/Debug/net6.0/RbPharma.Infrastructure.dll
/src/RbPharma.Services/bin/Debug/net6.0/RbPharma.Services.pdb
/src/RbPharma.Services/bin/Debug/net6.0/RbPharma.Services.dll
/src/RbPharma.Services/bin/Debug/net6.0/RbPharma.Services.deps.json
/src/RbPharma.Services/bin/Debug/net6.0/RbPharma.Infrastructure.pdb
/src/RbPharma.Services/bin/Debug/net6.0/RbPharma.Infrastructure.dll
/src/RbPharma.Tests/bin/Debug/net6.0/RbPharma.Tests.pdb
/src/RbPharma.Tests/bin/Debug/net6.0/RbPharma.Tests.dll
/src/RbPharma.Infrastructure/obj/Debug/net6.0/ref/RbPharma.Infrastructure.dll
/src/RbPharma.IoC/obj/Debug/net6.0/refint/RbPharma.IoC.dll
/src/RbPharma.IoC/obj/Debug/net6.0/RbPharma.IoC.csproj.CoreCompileInputs.cache
/src/RbPharma.IoC/obj/Debug/net6.0/ref/RbPharma.IoC.dll
